<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Travel Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/newPost/news}">New posts</a>
          </li>
          <li class="nav-item dropdown"  th:if="${session.user != null}">
            <a class="nav-link dropdown-toggle" th:href="@{/profile}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" th:href="@{/profile}">My Page</a></li>
              <li><a class="dropdown-item" th:href="@{/newPost}">Add new post</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" th:href="@{/changeProfile}">Change info</a></li>
            </ul>
          </li>
          <li class="nav-item" th:if="${session.user != null}">
              <a  th:if="${admin}" class="nav-link" th:href="@{/admin}">Admin</a>
          </li>
          <li class="nav-item" th:unless="${session.user != null}">
            <a class="nav-link" th:href="@{/user/authorization}">Log in</a>
          </li>
          <li class="nav-item" th:if="${session.user != null}">
            <a class="nav-link" th:href="@{/user/logout}">Log out</a>
          </li>
        </ul>
<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    </div>
  </nav>
</body>
</html>