<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
<div th:replace="_header"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-3">
      <p class="text-center">Add country</p>
      <div class="row justify-content-center">
        <div class="col-8" >
          <form action="#" th:action="@{/admin/addCountry}" method="post" th:object="${newCountry}">
            <div>
              <input type="text"  th:name="continent"  th:field="*{continent}" class="form-control form-control-sm" id="continent" placeholder="Continent">
            </div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('continent')}">
              <p class="text-center"  th:errors="*{continent}"></p>
            </div>
            <div class="mt-2">
              <input type="text"  th:name="countryName" th:field="*{countryName}" class="form-control form-control-sm" id="country" placeholder="Country">
            </div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('countryName')}">
              <p class="text-center"  th:errors="*{countryName}"></p>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-1">
              <button type="submit" class="btn btn-secondary btn-sm">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Continent</th>
          <th scope="col">Country</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
          <td th:text="${country.continent}"></td>
          <td th:text="${country.countryName}"></td>
          <td>
            <form method="post" th:action="@{/admin/delete}">
              <input type="hidden" name="countryId" th:value="${country.id}">
              <div class="d-grid gap-2 col-6 mx-auto mt-1">
                <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
              </div>
            </form>
        </tr>
        <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>