<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
<div th:replace="_header"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-3">
      <div class="card">
        <ul class="list-group list-group-flush" style="border: none">
          <li class="list-group-item">
            <div class="row justify-content-center">
              <div class="col-6">
                <p class="text-center">Change name</p>
                <div class="row justify-content-center">
                  <div class="col-8" >
                    <form action="#" th:action="@{/changeProfile/changeName}" method="post">
                      <div>
                        <input type="text"  th:name="newName" class="form-control form-control-sm" id="name" th:placeholder="${session.user.name}" min="3">
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="text-center">Change username</p>
                <div class="row justify-content-center">
                  <div class="col-8" >
                    <form action="#" th:action="@{/changeProfile/changeUsername}" method="post">
                      <div>
                        <input type="text"  th:name="newUsername" class="form-control form-control-sm" id="username" th:placeholder="${session.user.username}" min="3">
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-center">
              <div class="col-6">
                <p class="text-center">Change email</p>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <form action="#" th:action="@{/changeProfile/changeEmail}" method="post">
                      <div>
                        <input type="email"  th:name="newEmail" class="form-control form-control-sm" id="email"  name="newEmail" placeholder="New Email">
                      </div>
                      <div class="mt-1">
                        <input type="email"  th:name="confirmEmail" class="form-control form-control-sm" id="email1" name="confirmEmail" placeholder="Confirm email">
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="text-center">Change password</p>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <form action="#" th:action="@{/changeProfile/changePassword}" method="post">
                      <div>
                        <input type="password"  th:name="oldPassword" class="form-control form-control-sm" id="oldPassword" placeholder="Old password">
                      </div>
                      <div class="mt-1">
                        <input type="password"  th:name="newPassword" class="form-control form-control-sm" id="newPassword" placeholder="New password">
                      </div>
                      <div class="mt-1">
                        <input type="password"  th:name="confirmNewPassword" class="form-control form-control-sm" id="ConfirmNewPassword" placeholder=" Confirm new password">
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row justify-content-center">
              <div class="col-8">
                <p class="text-center">Change password</p>
                <div class="row justify-content-center">
                  <div class="col-10">
                    <form method="post" action="#" th:action="@{/changeProfile/uploadPhoto}" enctype="multipart/form-data">
                      <div class="mt-1">
                        <input th:name="photo" class="form-control form-control-sm" type="file" id="formFile" name="photo" accept="image/jpeg, image/png" >
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Upload photo</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row justify-content-center">
              <div class="col-6">
                <p class="text-center">Change residence country</p>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <form action="#" th:action="@{/changeProfile/chooseResidenceCountry}" method="post">
                      <div class="mb-1">
                        <select name="country" class="form-select form-select-sm" aria-label="Default select example">
                          <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                          </option>
                        </select>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="text-center">Change favorite country</p>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <form action="#" th:action="@{/changeProfile/chooseFavoriteCountry}" method="post">
                      <div class="mb-1">
                        <select name="country" class="form-select form-select-sm" aria-label="Default select example">
                          <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                          </option>
                        </select>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-center">
              <div class="col-10">
                <p class="text-center">Choose country where you have been</p>
                <div class="row justify-content-center">
                    <div th:each="visitedCountry : ${visitedCountries}" class="col-6">
                      <form action="#" th:action="@{/changeProfile/deleteVisitedCountry}" method="post">
                        <input type="hidden" name="countryId" th:value="${visitedCountry.id}">
                        <input type="text" name="country" th:value="${visitedCountry.countryName}" disabled style="border: none">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                      </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-4 mt-2">
                    <form action="#" th:action="@{/changeProfile/addVisitedCountry}" method="post">
                      <div class="mb-1">
                        <select name="country" class="form-select form-select form-select-sm" aria-label="Default select example">
                          <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                          </option>
                        </select>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto mt-1">
                        <button type="submit" class="btn btn-secondary btn-sm">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>