<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
<div th:replace="_header"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Change name
            <div class="col-4 mt-3" >
              <form action="#" th:action="@{/changeProfile/changeName}" method="post">
                <div class="mb-3">
                  <input type="text"  th:name="newName" class="form-control" id="name" th:placeholder="${session.user.name}">
                </div>
                <button type="submit" class="btn btn-secondary">Change</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">Change username
            <div class="col-4 mt-3" >
              <form action="#" th:action="@{/changeProfile/changeUsername}" method="post">
                <div class="mb-3">
                  <input type="text"  th:name="newUsername" class="form-control" id="username" th:placeholder="${session.user.username}">
                </div>
                <button type="submit" class="btn btn-secondary">Change</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">Change email
            <div class="col-4 mt-3" >
              <form action="#" th:action="@{/changeProfile/changeEmail}" method="post">
                <div class="mb-3">
                  <input type="text"  th:name="newEmail" class="form-control" id="email"  name="newEmail" placeholder="New Email">
                </div>
                <div class="mb-3">
                  <input type="text"  th:name="confirmEmail" class="form-control" id="email1" name="confirmEmail" placeholder="Confirm email">
                </div>
                <button type="submit" class="btn btn-secondary">Change</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">Change password
            <div class="col-4 mt-3" >
              <form action="#" th:action="@{/changeProfile/changePassword}" method="post">
                <div class="mb-3">
                  <input type="text"  th:name="oldPassword" class="form-control" id="oldPassword" placeholder="Old password">
                </div>
                <div class="mb-3">
                  <input type="text"  th:name="newPassword" class="form-control" id="newPassword" placeholder="New password">
                </div>
                <div class="mb-3">
                  <input type="text"  th:name="confirmNewPassword" class="form-control" id="ConfirmNewPassword" placeholder=" Confirm new password">
                </div>
                <button type="submit" class="btn btn-secondary">Change</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <form method="post" action="#" th:action="@{/changeProfile/uploadPhoto}" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Profile photo</label>
                  <input th:name="photo" class="form-control" type="file" id="formFile" name="photo" accept="image/jpeg, image/png" >
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-secondary">Upload photo</button>
                </div>
              </form>
            </div>
          </li>
          <li class="list-group-item">
            Change residence country
            <div class="col-4 mt-3" >
              <form action="#" th:action="@{/changeProfile/chooseResidenceCountry}" method="post">
                <div class="mb-3">
                  <select name="country" class="form-select" aria-label="Default select example">
                    <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-secondary">Choose</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">
            Change favorite country
            <div class="col-4 mt-3">
              <form action="#" th:action="@{/changeProfile/chooseFavoriteCountry}" method="post">
                <div class="mb-3">
                  <select name="country" class="form-select" aria-label="Default select example">
                    <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-secondary">Choose</button>
              </form>
            </div>
          </li>
          <li class="list-group-item">
            Choose country where you have been
            <div class="col-4 mt-3">
              <th:block th:each="visitedCountry : ${visitedCountries}">
                <form action="#" th:action="@{/changeProfile/deleteVisitedCountry}" method="post">
                  <input type="hidden" name="countryId" th:value="${visitedCountry.id}">
                  <input type="text" name="country" th:value="${visitedCountry.countryName}" disabled style="border: none">
                  <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
              </th:block>
            </div>
            <div class="col-4 mt-3">
              <form action="#" th:action="@{/changeProfile/addVisitedCountry}" method="post">
                <div class="mb-3">
                  <select name="country" class="form-select" aria-label="Default select example">
                    <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.countryName}">
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-secondary">Add</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>