<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
<div th:replace="_header"></div>
<div class="container">
    <div class="row">
        <div class = "col-8">
            <div class="row justify-content-center">
                <div class="card mt-2" style="width: 10rem; border: none" th:each="profile : ${lastSavedUsers}">
                    <a th:href="@{/profile/{id}(id = ${profile.id})}">
                        <img th:src="@{${profile.photoPath}}" class="img-thumbnail" alt="..." style="height: 100px; width: 100px; border-radius: 50%">
                    </a>
                </div>
                <div class="row justify-content-center mt-3">
                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="user-photos/background2.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="col align-self-center">
                                        <h1 class="fw-bold mb-9" style="color: black; text-shadow: 2px 1px 3px gray; font-size: 100px" th:if="${mostPopularCountry != null}"><span th:text="${mostPopularCountry}"></span></h1>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <p style="color: black">Most popular destination</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-4">
                <ul class="list-group list-group-flush">
                    <th:block th:each="post : ${lastThreePosts}">
                        <li class="list-group-item" style="border: none">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img th:src="${post.imagePath}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="col align-self-end">
                                            <h5 th:text="${post.title}"></h5>
                                            <p th:text="${post.user.username}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="card">-->
<!--                                <img th:src="${post.imagePath}" class="card-img-top" alt="...">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title" th:text="${post.title}"></h5>-->
<!--                                    <p class="card-text" th:text="${post.user.username}"></p>-->
<!--                                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>